In [130]:
import pandas as pd

In [131]:
data = pd.read_csv('../data/raw/DEU.csv', low_memory=False)

In [132]:
data.head(4)

,id,date,confirmed,deaths,recovered,tests,vaccines,people_vaccinated,people_fully_vaccinated,hosp,...,iso_alpha_3,iso_alpha_2,iso_numeric,iso_currency,key_local,key_google_mobility,key_apple_mobility,key_jhu_csse,key_nuts,key_gadm
0,42079406,2020-01-02,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,...,DEU,DE,276,EUR,NaN,ChIJa76xwh5ymkcRW-WRjmtd6HU,Germany,DE,NaN,DEU
1,42079406,2020-01-23,2.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,...,DEU,DE,276,EUR,NaN,ChIJa76xwh5ymkcRW-WRjmtd6HU,Germany,DE,NaN,DEU
2,42079406,2020-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DEU,DE,276,EUR,NaN,ChIJa76xwh5ymkcRW-WRjmtd6HU,Germany,DE,NaN,DEU
3,42079406,2020-01-28,4.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,...,DEU,DE,276,EUR,NaN,ChIJa76xwh5ymkcRW-WRjmtd6HU,Germany,DE,NaN,DEU

In [133]:
data = data.drop('id', axis=1)
data = data.drop('tests', axis=1)
data = data.drop('government_response_index', axis=1)
data = data.drop('stringency_index', axis=1)
data = data.drop('containment_health_index', axis=1)
data = data.drop('economic_support_index', axis=1)
data = data.drop('administrative_area_level', axis=1)
data = data.drop('administrative_area_level_1', axis=1)
data = data.drop('administrative_area_level_2', axis=1)
data = data.drop('hosp', axis=1)
data = data.drop('icu', axis=1)
data = data.drop('vent', axis=1)
data = data.drop('iso_alpha_3', axis=1)
data = data.drop('iso_alpha_2', axis=1)
data = data.drop('iso_currency', axis=1)
data = data.drop('iso_numeric', axis=1)
data = data.drop('latitude', axis=1)
data = data.drop('longitude', axis=1)
data = data.drop('key_local', axis=1)
data = data.drop('key_google_mobility', axis=1)
data = data.drop('key_apple_mobility', axis=1)
data = data.drop('key_jhu_csse', axis=1)
data = data.drop('key_nuts', axis=1)
data = data.drop('key_gadm', axis=1)
data = data.drop(data[data['population'] == 82905782].index)
data = data.dropna(subset=['administrative_area_level_3'])
data = data.dropna()

In [134]:

label_data = pd.concat([data.iloc[:, 0:3], data.iloc[:, 21]], axis=1)


# Zweites DataFrame mit den Spalten 0 und 4 bis 10
train_data = pd.concat([data.iloc[:, 0], data.iloc[:, 3:23]], axis=1)

In [135]:
label_data.head(5)

             date  confirmed  deaths administrative_area_level_3
18814  2021-01-22     3092.0   124.0             LK Freudenstadt
18815  2021-01-23     3104.0   124.0             LK Freudenstadt
18816  2021-01-24     3106.0   124.0             LK Freudenstadt
18817  2021-01-25     3109.0   124.0             LK Freudenstadt
18818  2021-01-26     3135.0   128.0             LK Freudenstadt

In [136]:
train_data.head(5)

,date,recovered,vaccines,people_vaccinated,people_fully_vaccinated,school_closing,workplace_closing,cancel_events,gatherings_restrictions,transport_closing,...,internal_movement_restrictions,international_movement_restrictions,information_campaigns,testing_policy,contact_tracing,facial_coverings,vaccination_policy,elderly_people_protection,administrative_area_level_3,population
18814,2021-01-22,2968.0,115.0,115.0,0.0,3.0,3.0,2.0,4.0,1.0,...,-2.0,3.0,2.0,1.0,1.0,2.0,2.0,2.0,LK Freudenstadt,117935
18815,2021-01-23,2980.0,257.0,257.0,0.0,3.0,3.0,2.0,4.0,1.0,...,-2.0,3.0,2.0,1.0,1.0,2.0,2.0,2.0,LK Freudenstadt,117935
18816,2021-01-24,2982.0,358.0,358.0,0.0,3.0,3.0,2.0,4.0,1.0,...,-2.0,3.0,2.0,1.0,1.0,2.0,2.0,2.0,LK Freudenstadt,117935
18817,2021-01-25,2985.0,408.0,408.0,0.0,3.0,3.0,2.0,4.0,1.0,...,-2.0,3.0,2.0,1.0,1.0,2.0,2.0,2.0,LK Freudenstadt,117935
18818,2021-01-26,3007.0,432.0,432.0,0.0,3.0,3.0,2.0,4.0,1.0,...,-2.0,3.0,2.0,1.0,1.0,2.0,2.0,2.0,LK Freudenstadt,117935

In [138]:
label_data.to_csv('../data/clean/label.csv', index=False)
train_data.to_csv('../data/clean/train.csv', index=False)